Votre client possède fichier csv contenant des informations sur ces clients. Il souhaite mettre ses informations sous format json, afin de l'intégegrer dans une base de donnée mongodb. convertir ce fichier csv en json avec des valeurs imbriquées (nesté): 

"location": { "pays": ... "departement":... "hobbies" : ['ski', "Stacraft II", ...] } 

Bonus : intégrer ce Json dans une base de donnée mongoDB en ligne de commande

{"hobbie: ["ski", "Starcraft II"], "location": {"departement" : 91, "pays" : "France"}, "id_personn" : 12, "sex":"M", "Age" :26}

"hobbie" :["hobbie1","hobbie2"],"location":{"departement" : département, "pays" : "pays"}, "id_personn" : id_personn, "sex":"sex", "Age" :Age}

In [37]:
import pandas as pd

In [38]:
df = pd.read_csv("clients.csv")

In [39]:
df.head()

,hobbie1,hobbie2,hobbie3,id_personn,département,pays,sex,Age
0,ski,NaN,Cooking,1,95,Allemagne,F,35.0
1,NaN,Pokemon Go,Ping Pong,2,94,Allemagne,F,8.0
2,basket,Dofus,Cooking,3,95,France,M,23.0
3,ski,Dofus,Cooking,4,75,France,F,0.0
4,painting,NaN,Ping Pong,5,78,France,F,1.0

In [40]:
df['hobbie1']

0           ski
1           NaN
2        basket
3           ski
4      painting
         ...
995         NaN
996      basket
997         NaN
998         ski
999    painting
Name: hobbie1, Length: 1000, dtype: object

In [56]:
import json
 
csv_rows = []
data = [{'hobbie':df[['hobbie1','hobbie2','hobbie3']],'location':df[['département','pays']],'id_personn':df[['sex','Age']]}]

#print(json.dumps(df))

In [57]:
data

[{'hobbie':       hobbie1       hobbie2    hobbie3
  0         ski           NaN    Cooking
  1         NaN    Pokemon Go  Ping Pong
  2      basket         Dofus    Cooking
  3         ski         Dofus    Cooking
  4    painting           NaN  Ping Pong
  ..        ...           ...        ...
  995       NaN           NaN  Ping Pong
  996    basket         Dofus  Ping Pong
  997       NaN   Stacraft II  Ping Pong
  998       ski  Warcraft III  Ping Pong
  999  painting         Dofus    Cooking

  [1000 rows x 3 columns],
  'location':      département       pays
  0             95  Allemagne
  1             94  Allemagne
  2             95     France
  3             75     France
  4             78     France
  ..           ...        ...
  995           93  Allemagne
  996           93  Allemagne
  997           93   Portugal
  998           75     France
  999           91  Allemagne

  [1000 rows x 2 columns],
  'id_personn':     sex   Age
  0     F  35.0
  1     F   8.0
  2     M  23.0
  3     F   0.0
  4     F   1.0
  ..   ..   ...
  995   M  20.0
  996   F  44.0
  997   M   5.0
  998   F   0.0
  999   M  14.0

  [1000 rows x 2 columns]}]

In [59]:
result = data.to_json(orient="split")
parsed = json.loads(result)
json.dumps(parsed)

AttributeError: 'list' object has no attribute 'to_json'